// variables
@primary:           #e2141c;
@secondary:         #ff0;
@light-secondary:   #eeebc2;
@no-color:          transparent;
@white:             #ffffff;
@black:            #000000;
@light-black:	   #2f2f2f;
@dark:             #333333;
@grey:             #cccccc;
@light-grey:       #eeeeee;
@dark-grey:        #616161;
@danger:           #a94442;
@link:             #00aaff;
@blue:             #428bca;
@pinterest:        #bd081b;
@twitter:          #1da1f2;
@facebook:         #4867aa;
@g-plus:           #dd5144;
@google:           #4d90fe;
@form-bg:          #f4f3ee;
