/*=============================================
=            Login / Signup Forms            =
=============================================*/

.form-wrapper{
    background: @form-bg;
    border-radius: 10px;
    padding: 50px 0;
    margin: 15px 0 30px;
    .drop-shadow(0px, 0px, 5px, 0, .3);
}
.search-form{
    .form{
        .form-group{
            .form-control{
                font-size: 16px;
                padding: 10px;
                &::placeholder {
                  color: @grey;
              }
            }
        }
      .btn{
        font-size: 16px;
        font-weight: 600;
        padding: 10px 16px;
      }
    }
}


.form{
    margin: 0 auto;
    font-size: 18px;
    &.signup-form{
        width: 80%;
        .btn{
            border-radius: 0;
        }
        .submit-info{
            font-size: 12px;
            font-weight: normal;
            color: darken(@grey, 20%)
        }
    }
    &.login-form{
        width: 40%;
        .btn{
            font-size: 16px;
            font-weight: normal;
            svg{
                vertical-align: middle;
                margin-right: 15px;
            }
        }
        .social-login{
            p{
                font-size: 16px;
                color: darken(@grey, 15%);
                strong{
                    font-size: 18px;
                    color: @dark-grey;
                    font-weight: 600;
                }
            }
        }
    }
    &.pass-rest-form{
        width: 50%;
        .form-head{
            margin: 0 0 5px;
            text-align: center;
        }
        > p{
            font-size: 17px;
            margin-top: 25px;
            color: @dark-grey;
        }
        .btn{
            border-radius: 0;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .form-head{
        margin: 0 0 25px;
        text-align: center;
    }
    .form-group{
        &.has-success{
            .radio-inline{
                color: @dark;
            }
            .control-label{
                color: @dark;
            }
            .form-control{
                border-color: @grey;
            }
        }
        .control-label{
            font-size: 14px;
        }
        .form-control{
            font-size: 16px;
            padding: 12px;
            height: auto;
            .box-shadow(none);
            &::placeholder{
                color: @grey;
            }
            &:focus{
                border-color: @grey;
            }
        }
        &.has-error{
            .form-control{
                &:focus{
                    border-color: @danger;
                }
            }
        }
        .help-block {
            font-size: 14px;
            margin: 0;
        }
        .input-group{
            .input-group-prepend{
                // background: @white;
                // color: @grey;
                .input-group-text{
                    background: @white;
                    color: @grey;
                }
            }
            .form-control{
                border-left: none;                    
            }
        }
        .cstm-radio{
            text-align: center;
            margin: 15px 0 25px;
            label{
                padding-left: 10px;
                position: relative;
                cursor: pointer;
                margin-right: 1rem;
                &:last-child{
                    margin-right: 0;
                }
                &:before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 2px solid @grey;
                }
                &:after{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: @grey;
                }
                &.check{
                    &:before{
                        border-color: @primary;
                    }
                    &:after{
                        background: @primary;
                    }
                }
                input{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
    .form-group{
      .checkbox {
        margin: 0;
        label {
          cursor: pointer;
          font-size: 14px;
          color: @dark-grey;
          position: relative;
          min-height: auto;
          padding-left: 10px;
          svg{
            position: absolute;
            left: 3px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .checked {
            display: none;
            color: @primary;
          }
          &.checked {
            .unchecked {
              display: none;
            }
            .checked {
              display: inline-block;
            }
          }
          input {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
        &.field-signupform-newsletter{
            label{
                color: @dark;
            }
        }
    }
    .forgot-pass {
        font-size: 15px;
        color: #337ab7;
    }
}

/*=====  End of Login / Signup Forms  ======*/


/*===================================
=            Place an Ad            =
===================================*/

.ads-form{
    .form-head{
        font-size: 30px;
        font-weight: 500;
    }
    #form-ads{
        .input-container{
            padding: 0 5% 35px;
            margin-bottom: 35px;
            border-bottom: 1px solid @light-grey;
            .form-group{
                margin-bottom: 0;
            }
            .control-label{
                font-size: 13px;
            }
            .form-control{
                font-size: 15px;
            }
            .select2-container{
                .select2-selection{
                    border-color: @grey;
                    .select2-selection__rendered{
                        font-size: 15px;
                    }
                }
            }
            .contact-wrapper{
                .contact-details{
                    background: @light-grey;
                    border: 1px solid @light-grey;
                    padding: 25px 35px 15px;
                    position: relative;
                    border-radius: 0;
                    .drop-shadow(0px, 0px, 1px, 0px, 0.3);
                    .control-label{
                        font-size: 15px;
                        font-weight: 600;
                        color: @grey;
                        margin-bottom: 15px;
                    }
                    .form-control-plaintext{
                        font-size: 13px;
                        color: @dark-grey;
                        padding: 0 0 5px;
                    }
                    .btn{
                        position: absolute;
                        right: 15px;
                        bottom: 15px;
                        border: none;
                        color: @dark;
                        font-size: 15px;
                        font-weight: 600;
                        border-radius: 0;
                        min-width: 60px;
                        &:hover{
                            background: @primary;
                            color: @white;
                        }
                        &:focus{
                            outline: none;
                            background: @primary;
                            color: @white;
                            .box-shadow(none);

                        }
                    }
                }
                .edit-contact-details{
                    padding: 20px 0;
                    .edit-contact-desc {
                        font-size: 13px;
                    }
                    .form-group{
                        margin-bottom: 15px;
                    }
                    .select2-container{
                        width: 100% !important;
                        display: block;
                    }
                }
            }
        }
        .sec-head{
            font-size: 15px;
            font-weight: 600;
            color: @grey;
        }
        .btn{
            font-size: 20px;
            font-weight: bold;
            min-width: 180px;
            border-radius: 0;
        }
    }
}
.adsimages {
    position: relative;
    width: 90px;
    height: 75px;
    background: @light-grey;
    border: 2px dashed @grey;
    cursor: pointer;
    &:hover{
        background: #e8f4de;
    }
    &:focus{
        background: #e8f4de;
    }
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: @blue;
    }
}
/*=====  End of Place an Ad  ======*/
