body {
  font-family: 'Poppins';
  font-size: 0.875rem;
}
body a {
  text-decoration: none;
  color: #cccccc;
}
body a:hover {
  text-decoration: none;
  color: #e2141c;
}
body a:focus {
  text-decoration: none;
  color: #e2141c;
}
body:hover {
  text-decoration: none;
}
body:focus {
  text-decoration: none;
}
p {
  margin: 0 0 0.5rem;
}
/* ==========================================================================
   Utility styles
   ========================================================================== */
.btn:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.btn-primary {
  background: #ff0;
  color: #e2141c;
  border-color: #e2141c;
}
.btn.btn-primary:hover {
  background: #e2141c;
  color: #ffffff;
  border-color: #e2141c;
}
.btn.btn-primary:not(:disabled):not(.disabled):active {
  background: #e2141c;
  color: #ffffff;
  border-color: #e2141c;
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.btn-default {
  background: #e2141c;
  color: #ffffff;
  border-color: #e2141c;
}
.btn.btn-default:hover {
  background: #ff0;
  color: #e2141c;
}
.btn.btn-default:focus {
  background: #ff0;
  color: #e2141c;
}
.btn.btn-secondry {
  background: #ff0;
  color: #000000;
  border-color: #ff0;
}
.btn.btn-secondry:hover {
  background: #e5e600;
}
.btn.btn-grey {
  background: #cccccc;
  color: #ffffff;
}
.btn.btn-grey:hover {
  background: #bfbfbf;
}
.btn.btn-fb {
  background: #4867aa;
  color: #ffffff;
}
.btn.btn-fb:hover {
  background: #395186;
}
.btn.btn-google {
  background: #4d90fe;
  color: #ffffff;
}
.btn.btn-google:hover {
  background: #1a70fe;
}
.btn svg.svg-inline--fa {
  vertical-align: 0;
}
.empty-space {
  height: 15px;
}
.breadcrumb {
  background: transparent;
  padding-left: 0;
  padding-top: 0;
}
.breadcrumb .breadcrumb-item {
  font-size: 12px;
  font-weight: normal;
  color: #999999;
}
.breadcrumb .breadcrumb-item a {
  font-size: 12px;
  font-weight: normal;
  color: #999999;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #e2141c;
}
.breadcrumb .breadcrumb-item:before {
  color: #999999;
}
.breadcrumb .breadcrumb-item:nth-child(2):before {
  content: " ";
}
.breadcrumb .breadcrumb-item.back a {
  font-size: 13px;
  font-weight: bold;
  color: #616161;
  text-transform: uppercase;
}
/*====================================
=            social share            =
====================================*/
.social .svg-inline--fa {
  background: transparent;
}
.social .svg-inline--fa.fa-twitter:hover {
  color: #1da1f2;
}
.social .svg-inline--fa.fa-facebook-f:hover {
  color: #4867aa;
}
.social .svg-inline--fa.fa-google-plus-g:hover {
  color: #dd5144;
}
.social-share .svg-inline--fa {
  background: #ffffff;
}
.social-share .svg-inline--fa.fa-pinterest-p {
  color: #bd081b;
}
.social-share .svg-inline--fa.fa-pinterest-p:hover {
  color: #740511;
}
.social-share .svg-inline--fa.fa-twitter {
  color: #1da1f2;
}
.social-share .svg-inline--fa.fa-twitter:hover {
  color: #0b76b8;
}
.social-share .svg-inline--fa.fa-facebook-f {
  color: #4867aa;
}
.social-share .svg-inline--fa.fa-facebook-f:hover {
  color: #314674;
}
.social-share .svg-inline--fa.fa-google-plus-g {
  color: #dd5144;
}
.social-share .svg-inline--fa.fa-google-plus-g:hover {
  color: #b42d21;
}
.follow-us .svg-inline--fa {
  background: #ffffff;
}
.follow-us .svg-inline--fa.fa-twitter:hover {
  color: #1da1f2;
}
.follow-us .svg-inline--fa.fa-facebook-f:hover {
  color: #4867aa;
}
.follow-us .svg-inline--fa.fa-google-plus-g:hover {
  color: #dd5144;
}
/*=====  End of social share  ======*/
/*=============================================
=            Login / Signup Forms            =
=============================================*/
.form-wrapper {
  background: #f4f3ee;
  border-radius: 10px;
  padding: 50px 0;
  margin: 15px 0 30px;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
}
.search-form .form .form-group .form-control {
  font-size: 16px;
  padding: 10px;
}
.search-form .form .form-group .form-control::placeholder {
  color: #cccccc;
}
.search-form .form .btn {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
}
.form {
  margin: 0 auto;
  font-size: 18px;
}
.form.signup-form {
  width: 80%;
}
.form.signup-form .btn {
  border-radius: 0;
}
.form.signup-form .submit-info {
  font-size: 12px;
  font-weight: normal;
  color: #999999;
}
.form.login-form {
  width: 40%;
}
.form.login-form .btn {
  font-size: 16px;
  font-weight: normal;
}
.form.login-form .btn svg {
  vertical-align: middle;
  margin-right: 15px;
}
.form.login-form .social-login p {
  font-size: 16px;
  color: #a6a6a6;
}
.form.login-form .social-login p strong {
  font-size: 18px;
  color: #616161;
  font-weight: 600;
}
.form.pass-rest-form {
  width: 50%;
}
.form.pass-rest-form .form-head {
  margin: 0 0 5px;
  text-align: center;
}
.form.pass-rest-form > p {
  font-size: 17px;
  margin-top: 25px;
  color: #616161;
}
.form.pass-rest-form .btn {
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
}
.form .form-head {
  margin: 0 0 25px;
  text-align: center;
}
.form .form-group.has-success .radio-inline {
  color: #333333;
}
.form .form-group.has-success .control-label {
  color: #333333;
}
.form .form-group.has-success .form-control {
  border-color: #cccccc;
}
.form .form-group .control-label {
  font-size: 14px;
}
.form .form-group .form-control {
  font-size: 16px;
  padding: 12px;
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form .form-group .form-control::placeholder {
  color: #cccccc;
}
.form .form-group .form-control:focus {
  border-color: #cccccc;
}
.form .form-group.has-error .form-control:focus {
  border-color: #a94442;
}
.form .form-group .help-block {
  font-size: 14px;
  margin: 0;
}
.form .form-group .input-group .input-group-prepend .input-group-text {
  background: #ffffff;
  color: #cccccc;
}
.form .form-group .input-group .form-control {
  border-left: none;
}
.form .form-group .cstm-radio {
  text-align: center;
  margin: 15px 0 25px;
}
.form .form-group .cstm-radio label {
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
}
.form .form-group .cstm-radio label:last-child {
  margin-right: 0;
}
.form .form-group .cstm-radio label:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #cccccc;
}
.form .form-group .cstm-radio label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #cccccc;
}
.form .form-group .cstm-radio label.check:before {
  border-color: #e2141c;
}
.form .form-group .cstm-radio label.check:after {
  background: #e2141c;
}
.form .form-group .cstm-radio label input {
  opacity: 0;
  visibility: hidden;
}
.form .form-group .checkbox {
  margin: 0;
}
.form .form-group .checkbox label {
  cursor: pointer;
  font-size: 14px;
  color: #616161;
  position: relative;
  min-height: auto;
  padding-left: 10px;
}
.form .form-group .checkbox label svg {
  position: absolute;
  left: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form .form-group .checkbox label .checked {
  display: none;
  color: #e2141c;
}
.form .form-group .checkbox label.checked .unchecked {
  display: none;
}
.form .form-group .checkbox label.checked .checked {
  display: inline-block;
}
.form .form-group .checkbox label input {
  opacity: 0;
  visibility: hidden;
}
.form .form-group.field-signupform-newsletter label {
  color: #333333;
}
.form .forgot-pass {
  font-size: 15px;
  color: #337ab7;
}
/*=====  End of Login / Signup Forms  ======*/
/*===================================
=            Place an Ad            =
===================================*/
.ads-form .form-head {
  font-size: 30px;
  font-weight: 500;
}
.ads-form #form-ads .input-container {
  padding: 0 5% 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #eeeeee;
}
.ads-form #form-ads .input-container .form-group {
  margin-bottom: 0;
}
.ads-form #form-ads .input-container .control-label {
  font-size: 13px;
}
.ads-form #form-ads .input-container .form-control {
  font-size: 15px;
}
.ads-form #form-ads .input-container .select2-container .select2-selection {
  border-color: #cccccc;
}
.ads-form #form-ads .input-container .select2-container .select2-selection .select2-selection__rendered {
  font-size: 15px;
}
.ads-form #form-ads .input-container .contact-wrapper .contact-details {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 25px 35px 15px;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.ads-form #form-ads .input-container .contact-wrapper .contact-details .control-label {
  font-size: 15px;
  font-weight: 600;
  color: #cccccc;
  margin-bottom: 15px;
}
.ads-form #form-ads .input-container .contact-wrapper .contact-details .form-control-plaintext {
  font-size: 13px;
  color: #616161;
  padding: 0 0 5px;
}
.ads-form #form-ads .input-container .contact-wrapper .contact-details .btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: none;
  color: #333333;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0;
  min-width: 60px;
}
.ads-form #form-ads .input-container .contact-wrapper .contact-details .btn:hover {
  background: #e2141c;
  color: #ffffff;
}
.ads-form #form-ads .input-container .contact-wrapper .contact-details .btn:focus {
  outline: none;
  background: #e2141c;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ads-form #form-ads .input-container .contact-wrapper .edit-contact-details {
  padding: 20px 0;
}
.ads-form #form-ads .input-container .contact-wrapper .edit-contact-details .edit-contact-desc {
  font-size: 13px;
}
.ads-form #form-ads .input-container .contact-wrapper .edit-contact-details .form-group {
  margin-bottom: 15px;
}
.ads-form #form-ads .input-container .contact-wrapper .edit-contact-details .select2-container {
  width: 100% !important;
  display: block;
}
.ads-form #form-ads .sec-head {
  font-size: 15px;
  font-weight: 600;
  color: #cccccc;
}
.ads-form #form-ads .btn {
  font-size: 20px;
  font-weight: bold;
  min-width: 180px;
  border-radius: 0;
}
.adsimages {
  position: relative;
  width: 90px;
  height: 75px;
  background: #eeeeee;
  border: 2px dashed #cccccc;
  cursor: pointer;
}
.adsimages:hover {
  background: #e8f4de;
}
.adsimages:focus {
  background: #e8f4de;
}
.adsimages svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #428bca;
}
/*=====  End of Place an Ad  ======*/
/* ==========================================================================
   header Styles
   ========================================================================== */
header {
  background: #eeebc2;
}
header .top-bar {
  background: #ff0;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
header .top-bar .top-bar-content ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
header .top-bar .top-bar-content ul li {
  display: inline-block;
  padding: 3px 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  margin: 8px 0;
  vertical-align: middle;
}
header .top-bar .top-bar-content ul li:first-child {
  padding-left: 0;
}
header .top-bar .top-bar-content ul li:last-child {
  padding-right: 0;
  border: none;
}
header .top-bar .top-bar-content ul li.mail i {
  margin-right: 3px;
}
header .top-bar .top-bar-content ul li.mail i:before {
  margin-left: 0;
  font-size: 22px;
  vertical-align: middle;
  color: #616161;
}
header .top-bar .top-bar-content ul li.social {
  padding: 0 10px;
}
header .top-bar .top-bar-content ul li.social a {
  font-size: 22px;
}
header .top-bar .top-bar-content ul li.account a {
  margin-right: 0;
  padding-right: 5px;
}
header .top-bar .top-bar-content ul li.account a:last-child {
  padding-left: 5px;
}
header .top-bar .top-bar-content ul li a {
  font-size: 15px;
  font-weight: normal;
  color: #333333;
  line-height: 1;
}
header .top-bar .top-bar-content ul li a:last-child {
  margin-right: 0;
}
header .top-bar .top-bar-content ul li a:hover {
  color: #e2141c;
  text-decoration: none;
}
header .top-bar .top-bar-content ul li span {
  margin-right: 10px;
  font-size: 15px;
  font-weight: normal;
  color: #333333;
}
header .top-bar .topbar-left ul {
  margin-left: 70px;
}
header .header {
  background: transparent;
}
header .header .navbar-default {
  background: transparent;
  border: none;
  padding: 35px 0 60px;
  margin-bottom: 0;
}
header .header .navbar-default .navbar-brand {
  padding: 0;
}
header .header .navbar-default .ad-link {
  font-weight: 600;
  font-size: 20px;
  border-radius: 0;
  border-width: 3px;
}
header .header .navbar-default .navbar-toggler {
  border: 2px solid #e2141c;
  color: #e2141c;
}
header .header .navbar-default .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search .form-control {
  border-radius: 0;
  border: none;
  min-height: 45px;
}
#search .form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
#search .form-control::placeholder {
  color: #cccccc;
}
#search .btn {
  min-height: 45px;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.15);
}
#search .btn:hover {
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.15);
}
#mobilenavbar .nav-wrapper {
  background: #eeeeee;
  padding: 15px 0;
  border-radius: 5px;
}
#mobilenavbar .nav-wrapper li {
  padding: 5px 1rem 0;
  border-bottom: 1px solid #cccccc;
}
#mobilenavbar .nav-wrapper li:last-child {
  border: none;
}
#mobilenavbar .nav-wrapper li .nav-link {
  color: #616161;
  font-size: 14px;
  font-weight: 600;
}
#mobilenavbar .nav-wrapper li .nav-link svg {
  color: #e2141c;
  margin-right: 10px;
}
/*=============================================
=            Main Nav Menus            =
=============================================*/
.main-nav {
  background: #b31016;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}
.main-nav li {
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 5px 0;
}
.main-nav li.default {
  background: rgba(226, 20, 28, 0.8);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  padding: 5px 5px;
}
.main-nav li.default a {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.main-nav li:hover {
  background: #ff0;
}
.main-nav li:hover a {
  color: #e2141c;
}
.main-nav li:focus {
  background: #ff0;
}
.main-nav li:focus a {
  color: #e2141c;
}
.main-nav li.active {
  background: #ff0;
}
.main-nav li.active a {
  color: #e2141c;
}
.main-nav li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  margin: 10px 0;
}
.main-nav li:first-child a {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.main-nav li:last-child a {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
/*=====  End of Main Nav Menus  ======*/
/*=============================================
=            Footer            =
=============================================*/
footer {
  background: rgba(238, 235, 194, 0.3);
  padding: 60px 0 15px;
}
footer .btn {
  border-radius: 6px;
}
footer h4 {
  font-weight: bold;
  font-size: 1.15rem;
}
footer .nav li {
  margin-bottom: 5px;
}
footer .nav li a {
  color: #616161;
  padding: 0;
}
footer .nav li a:hover {
  background: none;
  color: #e2141c;
}
footer .nav li a:focus {
  background: none;
  color: #e2141c;
}
footer .contact-us > h4 {
  padding: 0 10px;
}
footer .contact-us .subscribe {
  padding: 0 10px;
}
footer .contact-us .subscribe .input-group .form-control {
  background: #eeeeee;
  font-size: 14px;
}
footer .contact-us .subscribe .input-group .form-control::placeholder {
  color: #cccccc;
}
footer .contact-us .subscribe .input-group .input-group-append .btn {
  font-size: 14px;
  font-weight: 600;
}
footer .contact-us .feedback {
  background: #616161;
  border-radius: 6px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
footer .contact-us .feedback:hover {
  background: transparent;
  color: #616161;
  border-color: #616161;
}
footer .contact-us .feedback:focus {
  background: transparent;
  color: #616161;
  border-color: #616161;
}
footer .contact-us .contact {
  padding: 10px 0;
}
footer .contact-us .contact h4 {
  padding: 0 10px;
}
footer .contact-us .contact p {
  font-size: 16px;
  color: #616161;
  padding: 0 10px;
}
footer .contact-us .contact .info {
  padding: 15px 10px;
}
footer .contact-us .contact .info a {
  font-size: 18px;
  color: #e2141c;
  padding-left: 10px;
  display: inline-block;
}
footer .contact-us .contact .info svg {
  color: #616161;
}
footer .contact-us .contact .info.mail-us {
  border-bottom: 2px dotted #cccccc;
}
footer .contact-us .contact .info.mail-us a {
  font-weight: 500;
}
footer .contact-us .contact .info.call-us a {
  font-weight: 800;
}
footer .contact-us .contact .follow-us {
  padding: 0 10px;
}
footer .contact-us .contact .follow-us a {
  margin-right: 10px;
}
footer .contact-office .media-body p {
  font-size: 0.875rem;
  font-weight: 500;
}
footer .contact-office .media-body .direction-link {
  background: #cccccc;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 500;
}
footer .contact-office .media-body .direction-link:hover {
  background: #e2141c;
}
footer .contact-office .media-body img {
  max-width: 100px;
}
.copy-rights {
  background: #eeebc2;
  padding: 20px 0;
}
.copy-rights p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #e2141c;
}
.copy-rights p a {
  color: #e2141c;
  text-transform: lowercase;
}
/*=====  End of Footer  ======*/
.sperator {
  border-bottom: 2px dotted #cccccc;
}
/*=============================================
=            Home Page            =
=============================================*/
.site-index .form-wrapper {
  padding: 15px;
}
.site-index .form-wrapper.search-form {
  background: #f4f3ee;
}
.site-index .form-wrapper .form-group {
  margin: 0;
}
#search-form {
  margin-bottom: 0;
}
#search-form .input-group-addon {
  padding: 12px 0 12px 10px;
  border: 1px solid #ccc;
}
/*categories-filter*/
.categories-filter {
  background: #eeeeee;
}
.categories-filter .btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.categories-filter .section-heading {
  font-size: 20px;
  font-weight: 600;
  color: #616161;
}
.categories-filter .categories {
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11%, 1fr));
}
.categories-filter .categories .categories-grid {
  margin-bottom: 20px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  position: static;
  transition: margin-bottom 0.7s linear;
}
.categories-filter .categories .categories-grid > a {
  display: block;
  position: relative;
  margin-right: 10px;
}
.categories-filter .categories .categories-grid > a::after {
  content: '';
  position: absolute;
  bottom: -30px;
  border-width: 18px;
  border-color: transparent transparent #fff;
  border-style: solid;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.categories-filter .categories .categories-grid > a.collapsed::after {
  display: none;
}
.categories-filter .categories .categories-grid > a.active .cat-images {
  border: 10px solid rgba(226, 20, 28, 0.7);
}
.categories-filter .categories .categories-grid:nth-child(9) a {
  margin-right: 0;
}
.categories-filter .categories .categories-grid:last-child a {
  margin-right: 0;
}
.categories-filter .categories .categories-grid:hover .cat-images {
  border: 10px solid rgba(226, 20, 28, 0.7);
}
.categories-filter .categories .categories-grid .cat-images {
  width: 100%;
  min-height: 100px;
  background: #ffffff;
  position: relative;
  border: 1px solid rgba(204, 204, 204, 0.7);
  border-radius: 6px;
}
.categories-filter .categories .categories-grid .cat-images img {
  position: absolute;
  max-width: 60px;
  max-height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.categories-filter .categories .categories-grid .category-title {
  font-size: 14px;
  margin: 5px 0 0;
  color: #333333;
}
.categories-filter .sub-categories {
  width: 100%;
  position: absolute;
  left: 0;
  margin: 25px 0 0;
  padding: 0;
  z-index: 9;
  display: block;
}
.categories-filter .sub-categories.collapse {
  visibility: hidden;
  opacity: 0;
}
.categories-filter .sub-categories.collapse.show {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.categories-filter .sub-categories.collapsing {
  overflow: hidden;
  height: 0;
  transition: height .7s linear;
}
.categories-filter .sub-categories .sub-category {
  background: #ffffff;
  color: #616161;
  padding: 25px 30px;
  border-radius: 10px;
}
.categories-filter .sub-categories .sub-category .subcat-head {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin: 0;
}
.categories-filter .sub-categories .sub-category .cat-lists {
  height: 180px;
  width: 100%;
  padding: 20px 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}
.categories-filter .sub-categories .sub-category .cat-lists li {
  text-align: left;
}
.categories-filter .sub-categories .sub-category .cat-lists li a {
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  margin: 0 0 10px 10px;
  color: #616161;
}
.categories-filter .sub-categories .sub-category .main-cat {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 0;
}
.categories-filter .sub-categories .sub-category .main-cat img {
  vertical-align: middle;
  border: 10px solid #ccc;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.categories-filter .btn {
  border-radius: 0;
}
/*recent ads listing*/
.recent-ads {
  margin-bottom: 30px;
}
.recent-ads .section-heading {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
.recent-ads .all-ads {
  font-size: 16px;
  color: #00aaff;
  vertical-align: middle;
  text-decoration: underline;
  margin: 10px 0;
}
.ads-listing .row.no-gutters {
  margin: 0 -7px;
}
.ads-listing .ads-grid {
  padding: 10px 7px;
}
.ads-listing .ads-grid .ads-grid-content {
  display: block;
}
.ads-listing .ads-grid .ads-grid-content .ads_img {
  height: 200px;
}
.ads-listing .ads-grid .ads-grid-content img {
  width: 100%;
}
.ads-listing .ads-grid .ads-grid-content .meta-info {
  padding: 10px 0;
  margin: 0 10px;
  position: relative;
}
.ads-listing .ads-grid .ads-grid-content .meta-info .ads_type {
  position: absolute;
  top: -35px;
  font-size: 16px;
  text-align: center;
  left: -10px;
  right: -10px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 5px;
  display: none;

}
.ads-listing .ads-grid .ads-grid-content:hover .meta-info .ads_type {
  display: block;
}
.ads-listing .ads-grid .ads-grid-content .meta-info .price {
  font-size: 1rem;
  font-weight: 800;
  color: #000000;
}
.ads-listing .ads-grid .ads-grid-content .meta-info .watch {
  color: #616161;
}
.ads-listing .ads-grid .ads-grid-content .meta-info .watch:hover {
  color: #e2141c;
}
.ads-listing .ads-grid .ads-grid-content .ad-title {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0 0;
  margin: 0 10px;
  color: #616161;
}
.ads-listing .ads-grid .ads-grid-content .location {
  font-size: 12px;
  margin: 5px 10px;
  color: #616161;
}
.new-signin {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #616161;
}
.new-signin a {
  color: #616161;
  text-decoration: underline;
}
.new-signin a:hover {
  color: #e2141c;
}
/*=====  End of Home Page  ======*/
/*==========================================
=            Start Listing Page            =
==========================================*/
.listing-wrapper {
  margin: 50px 0 70px;
}
.listing-wrapper .sidebar-filter {
  margin-bottom: 25px;
}
.listing-wrapper .sidebar-filter .filter-head {
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
  margin: 0 0 5px;
  background: #ff0;
  cursor: pointer;
  position: relative;
}
.listing-wrapper .sidebar-filter .filter-head::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ff0;
  transform-origin: left;
  transition: width 0.5s ease;
  z-index: -1;
}
.listing-wrapper .sidebar-filter .filter-head:hover::after {
  width: 100%;
}
.listing-wrapper .sidebar-filter .filter-head.collapsed {
  background: rgba(238, 238, 238, 0.3);
  border: 1px solid #eeeeee;
}
.listing-wrapper .sidebar-filter .filter-head.collapsed .fa-angle-down {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
.listing-wrapper .sidebar-filter .filter-head .fa-angle-down {
  transition: all 0.5s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.listing-wrapper .sidebar-filter .filter-items {
  padding: 0;
  margin: 5px 0 10px;
  max-height: 235px;
  overflow-y: scroll;
  border-bottom: 1px solid #eeeeee;
  list-style-type: none;
}
.listing-wrapper .sidebar-filter .filter-items#adtype {
  overflow: auto;
}
.listing-wrapper .sidebar-filter .filter-items li {
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 0;
  border-color: #eeeeee;
}
.listing-wrapper .sidebar-filter .filter-items li a {
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 13px;
  font-weight: 500;
  display: block;
}
.listing-wrapper .sidebar-filter .filter-items li:hover a {
  color: #e2141c;
}
.listing-wrapper .pagination .page-item .page-link {
  color: #616161;
}
.listing-wrapper .pagination .page-item .page-link.next {
  background: #eeeeee;
}
.listing-wrapper .pagination .page-item .page-link.next:hover {
  background: #e2141c;
}
.listing-wrapper .pagination .page-item .page-link.last {
  background: #eeeeee;
}
.listing-wrapper .pagination .page-item .page-link.last:hover {
  background: #e2141c;
}
/*=====  End of Listing Page  ======*/
.filtered-items {
  margin-bottom: 25px;
}
.filtered-items h3 {
  margin: 0 0 20px;
  font-size: 1.5rem;
}
.filtered-items h3.filtered-item {
  display: inline-block;
}
.pagination .page-item {
  min-width: 45px;
  margin-right: 5px;
  text-align: center;
}
.pagination .page-item .page-link {
  color: #cccccc;
  line-height: 1.4;
  font-weight: 600;
}
.pagination .page-item .page-link:hover {
  background: #e2141c;
  color: #ffffff;
}
.pagination .page-item .page-link:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pagination .page-item.active .page-link {
  background: #e2141c;
  color: #ffffff;
  border-color: #e2141c;
}
/*===================================
=            Ads Listing            =
===================================*/
.select2-container:focus {
  outline: 0;
}
.select2-container .select2-selection--single {
  min-height: 48px;
  padding: 9px;
  border-color: #ced4da;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  bottom: 0;
  width: 45px;
  height: 40px;
}
.select2-container .select2-selection--single .select2-selection__arrow b {
  border-width: 9px 8px 0 8px;
}
.select2-container.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 0 8px 9px 8px;
}
.select2-results__option {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 15px;
}
/*=====  End of Ads Listing  ======*/
/*======================================
=            Newest Listing            =
======================================*/
.newest-listing .listing-wrapper .sidebar-filter .filter-items {
  max-height: none;
  overflow: auto;
}
.newest-listing .listing-wrapper .sidebar-filter .filter-items li {
  margin: 0 0 5px;
  background: #eeeeee;
  cursor: pointer;
}
.newest-listing .listing-wrapper .sidebar-filter .filter-items li a {
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
}
.newest-listing .listing-wrapper .sidebar-filter .filter-items li a svg {
  margin-right: 0.5rem;
}
.newest-listing .listing-wrapper .filtered-items {
  margin-bottom: 0;
}
.newest-listing .listing-wrapper .search-form .form-control {
  font-size: 15px;
  padding: 12px 16px;
  width: 84%;
  margin-right: 1%;
}
.newest-listing .listing-wrapper .search-form .btn {
  padding: 13px 16px;
  width: 15%;
}
.listing-wrapper .sorting .select2-container {
  min-width: 200px;
}
.listing-wrapper .sorting .select2-container .select2-selection--single.select2-selection {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 9px;
  min-height: 40px;
  border-color: #cccccc;
}
.listing-wrapper .sorting .select2-container .select2-selection--single.select2-selection .select2-selection__arrow {
  height: 33px;
}
/*=====  End of Newest Listing  ======*/
/*=======================================
=            Product Details            =
=======================================*/
.product-detais .item-img-slider-wrapper .item-img-slider {
  padding: 20px 0;
}
.product-detais .item-img-slider-wrapper .item-img-slider .item-img-slide img {
  margin: 0 0 5px 0;
  opacity: 0.5;
}
.product-detais .item-img-slider-wrapper .item-img-slider .slick-current .item-img-slide img {
  opacity: 1;
}
.product-detais .item-img-slider-wrapper .item-img-slider .slick-arrow {
  font-size: 1rem;
  color: #616161;
}
.product-detais .item-img-slider-wrapper .item-img-slider .slick-arrow:before {
  content: none;
}
.product-detais .item-img-slider-wrapper .item-img-slider .slick-arrow.slick-prev {
  left: 50%;
  top: -5px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.product-detais .item-img-slider-wrapper .item-img-slider .slick-arrow.slick-next {
  left: 50%;
  bottom: -5px;
  top: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.product-detais .ad-img-wrapper .ad-img .slick-slide {
  height: auto;
}
.product-detais .ad-img-wrapper .ad-img .slick-arrow {
  font-size: 1rem;
  color: #ffffff;
  z-index: 99;
  background: #cccccc;
  border-radius: 50%;
}
.product-detais .ad-img-wrapper .ad-img .slick-arrow:hover {
  color: #ffffff;
}
.product-detais .ad-img-wrapper .ad-img .slick-arrow:focus {
  color: #ffffff;
}
.product-detais .ad-img-wrapper .ad-img .slick-arrow:before {
  content: none;
}
.product-detais .ad-img-wrapper .ad-img .slick-arrow.slick-prev {
  left: 0;
}
.product-detais .ad-img-wrapper .ad-img .slick-arrow.slick-next {
  right: 0;
}
.make-offer .auth-require {
  padding: 30px 0;
  border: 1px solid #cccccc;
  text-align: center;
}
.make-offer .auth-require .btn {
  font-size: 14px;
  font-weight: bold;
  min-width: 90px;
}
.make-offer .auth-require .btn.btn-grey {
  background: #e9e9e9;
  color: #2f2f2f;
  border-bottom: 3px solid #cccccc;
}
.make-offer .auth-require .btn.btn-grey:hover {
  background: #cccccc;
}
.make-offer .auth-require .btn.btn-success {
  border-bottom: 3px solid #1e7e34;
}
.product-meta-info {
  overflow: hidden;
}
.product-meta-info .product-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
}
.product-meta-info .location {
  font-size: 13px;
  color: #cccccc;
}
.product-meta-info .product-price {
  width: 100%;
  display: inline-block;
  margin: 10px 0 15px;
}
.product-meta-info .product-price span {
  display: inline-block;
}
.product-meta-info .product-price span strong {
  font-size: 30px;
}
.product-meta-info .product-price .btn {
  font-size: 18px;
  font-weight: bold;
  min-width: 180px;
  border-radius: 6px;
}
.product-meta-info .contact {
  padding: 10px 0;
}
.product-meta-info .contact .col {
  text-align: center;
  padding: 15px 0;
}
.product-meta-info .contact .col p {
  margin: 0;
}
.product-meta-info .contact .col p span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
}
.desc-wrap .desc {
  color: #616161;
}
.desc-wrap .desc br {
  content: "A";
  display: block;
  margin-bottom: 1em;
}
.desc-wrap .btn {
  font-size: 13px;
  font-weight: 700;
  border-radius: 3px;
}
.desc-wrap .btn.btn-default:hover {
  background: #e2141c;
  color: #ffffff;
}
.viewd p {
  font-size: 10px;
  font-weight: 500;
}
.social-share {
  text-align: right;
}
.related-ads .sec-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
/*=====  End of Product Details  ======*/
/*=========================================
=            Cars And Vehicles            =
=========================================*/
.filtered-head {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  margin: 0 0 5px;
  background: rgba(238, 238, 238, 0.3);
  border: 1px solid #eeeeee;
  cursor: pointer;
  position: relative;
  width: 100%;
}
.filtered-head span {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  padding: 7px 0;
}
.filtered-head a {
  font-size: 13px;
  font-weight: 600;
}
.cars-and-vehicles .filtered-items {
  padding: 0;
  margin: 5px 0 10px;
  border-bottom: 1px solid #eeeeee;
  list-style-type: none;
}
.cars-and-vehicles .filtered-items li {
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 0;
  border-color: #eeeeee;
  padding: 15px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 13px;
  font-weight: 500;
}
.cars-and-vehicles .filtered-items li a {
  color: #616161;
}
/*=====  End of Cars And Vehicles  ======*/
/*======================================
=            Dashboard Page            =
======================================*/
.dashboard .dash-content-wrapper .page-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.dashboard .dash-content-wrapper .dash-content {
  background: #f4f3ee;
  border-radius: 6px;
  padding: 64px;
  margin-bottom: 290px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.dashboard .dash-content-wrapper .dash-content .dash-menus {
  text-align: center;
}
.dashboard .dash-content-wrapper .dash-content .dash-menus .menus-item {
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.dashboard .dash-content-wrapper .dash-content .dash-menus .menus-item:hover {
  background: #eeebc2;
}
.dashboard .dash-content-wrapper .dash-content .dash-menus .menus-item a {
  display: block;
  padding: 25px 0;
}
.dashboard .dash-content-wrapper .dash-content .dash-menus .menus-item a .menus-img {
  width: 110px;
  height: 110px;
  margin: 0 auto 20px;
  position: relative;
}
.dashboard .dash-content-wrapper .dash-content .dash-menus .menus-item a .menus-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dashboard .dash-content-wrapper .dash-content .dash-menus .menus-item a .action-head {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0;
}
.dashboard .dash-content-wrapper .dash-content .start_selling {
  padding: 0 32px;
}
.dashboard .dash-content-wrapper .dash-content .start_selling h4 {
  font-size: 20px;
  font-weight: 600;
}
.dashboard .dash-content-wrapper .dash-content .start_selling p {
  color: #b3b3b3;
}
.dashboard .dash-content-wrapper .dash-content .start_selling .btn {
  border-radius: 0;
}
/*=====  End of Dashboard Page  ======*/
/*=======================================
=            Buy Credit Page            =
=======================================*/
.buy-credit .credit-wrapper {
  margin-bottom: 50px;
}
.buy-credit .credit-wrapper .page-title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.buy-credit .credit-wrapper .page-title-desc {
  font-weight: 500;
  color: #cccccc;
  text-align: center;
}
.buy-credit .credit-wrapper .credit-method h3 {
  font-size: 20;
  font-weight: 500;
}
.buy-credit .credit-wrapper .credit-method .form.buy-credit-form .form-group .cstm-radio {
  text-align: left;
}
.buy-credit .credit-wrapper .credit-method .form.buy-credit-form .form-group .cstm-radio label {
  background: #eeeeee;
  padding: 15px 25px;
  margin-bottom: .3rem;
}
.buy-credit .credit-wrapper .credit-method .form.buy-credit-form .form-group .cstm-radio label::before {
  left: 10px;
}
.buy-credit .credit-wrapper .credit-method .form.buy-credit-form .form-group .cstm-radio label::after {
  left: 15px;
}
.buy-credit .credit-wrapper .credit-method .form.buy-credit-form .form-group .cstm-radio label img {
  max-width: 40px;
}
/*=====  End of Buy Credit Page  ======*/
/*=======================================
=            My Adverts Page            =
=======================================*/
.my-adverts {
  margin-bottom: 100px;
}
.my-adverts .adverts-wrapper {
  padding: 0 15px;
}
.my-adverts .adverts-wrapper .page-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.my-adverts .adverts-wrapper .adverts-btn .btn {
  font-size: 20px;
  font-weight: bold;
  min-width: 158px;
  border-radius: 0;
}
.my-adverts .adverts-wrapper .adverts-btn .btn.btn-grey {
  background: rgba(97, 97, 97, 0.7);
}
.my-adverts .adverts-wrapper .adverts-btn .btn.btn-grey:hover {
  background: #616161;
}
.my-adverts .adverts-wrapper .adverts-list .ad-list-head {
  color: rgba(97, 97, 97, 0.7);
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .ad-duration {
  color: rgba(97, 97, 97, 0.7);
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .ad-info img {
  max-width: 90px;
  max-height: 90px;
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .ad-info .media-body h5 {
  font-size: 16px;
  font-weight: 600;
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .ad-info .media-body span {
  font-size: 13px;
  color: rgba(97, 97, 97, 0.7);
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .ad-info .media-body ul {
  display: inline-block;
  font-size: 13px;
  color: rgba(97, 97, 97, 0.7);
  padding: 0;
  margin-bottom: 0;
  margin-left: 5px;
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .ad-info .media-body ul li {
  display: inline-block;
  padding-left: 7px;
  margin-left: 5px;
  position: relative;
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .ad-info .media-body ul li::before {
  content: ' ';
  position: absolute;
  border: 2px solid rgba(97, 97, 97, 0.7);
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .actions .action-link {
  display: inline-block;
  padding: 10px;
  background: #eeeeee;
  width: 80px;
  margin-right: .1rem;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .actions .action-link:hover {
  background: #d5d5d5;
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .actions .action-link:last-child {
  margin-right: 0;
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .actions .action-link * {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .actions .action-link img {
  width: 28px;
  height: 28px;
}
.my-adverts .adverts-wrapper .adverts-list .ad-list .actions .action-link span {
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
  color: #616161;
}
/*=====  End of My Adverts Page  ======*/
/*======================================
=            Watchlist Page            =
======================================*/
.my-watchlist .watchlist-wrapper {
  padding: 0 15px;
}
.my-watchlist .watchlist-wrapper .page-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.my-watchlist .watchlist-wrapper .watchlist-list {
  margin-bottom: 190px;
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist-head {
  color: rgba(97, 97, 97, 0.7);
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist {
  border-top: 1px solid #cccccc;
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist:last-child {
  border-bottom: 1px solid #cccccc;
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist > div {
  border-left: 1px solid #cccccc;
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist > div:last-child {
  border-right: 1px solid #cccccc;
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist:nth-child(odd) {
  background: rgba(238, 238, 238, 0.5);
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist .watchlist-info .product-title {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist .price {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist .actions {
  text-align: right;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist .actions .btn {
  font-size: 16px;
  font-weight: 600;
  border-radius: 0;
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist .actions .btn.buy-now {
  min-width: 130px;
}
.my-watchlist .watchlist-wrapper .watchlist-list .watchlist .actions .btn.remove {
  background: rgba(97, 97, 97, 0.7);
  min-width: 100px;
}
/*=====  End of Watchlist Page  ======*/
/*===============================================
=            Business Directory Page            =
===============================================*/
#directory-page .content {
  margin-top: -50px;
}
#directory-page .content .directory-wrapper {
  padding-top: 40px;
  background: #616161;
}
#directory-page .content .directory-wrapper .search-form .form-group {
  margin-bottom: 0;
}
#directory-page .content .directory-wrapper .directories-location {
  position: relative;
}
#directory-page .content .directory-wrapper .directories-location .directories-list {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 90%;
  width: 585px;
  border: 0;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-header {
  background: rgba(97, 97, 97, 0.7);
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-body {
  height: 100%;
  overflow-y: scroll;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-body .list-group .list-group-item a {
  font-size: 15px;
  font-weight: normal;
  color: #616161;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-body .list-group .list-group-item a i {
  margin-right: 15px;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-body .list-group .list-group-item a i::before {
  margin-left: 0;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-footer {
  background: #eeebc2;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-footer .pagination {
  margin-bottom: 0;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-footer .pagination .page-item .page-link {
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  background: rgba(97, 97, 97, 0.7);
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-footer .pagination .page-item .page-link.next {
  color: #cccccc;
  background: #ffffff;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-footer .pagination .page-item .page-link.last {
  color: #cccccc;
  background: #ffffff;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-footer .pagination .page-item.active .page-link {
  color: #ffffff;
  background: #e2141c;
}
#directory-page .content .directory-wrapper .directories-location .directories-list .card-footer .pagination .page-item:hover .page-link {
  color: #ffffff;
  background: #e2141c;
}
/*=====  End of Business Directory Page  ======*/
/*=======================================================
=            Business Directory Details Page            =
=======================================================*/
.directory-details .sec-heading {
  font-size: 30px;
  font-weight: 500;
  color: #616161;
}
.direction-form #direction-form .form-control {
  font-size: 15px;
  font-weight: normal;
}
.direction-form #direction-form .form-control::placehoder {
  color: #cccccc;
}
.direction-form #direction-form .btn {
  font-size: 16px;
  font-weight: normal;
  padding: 11px 16px;
}
.direction-form #direction-form .btn.btn-grey {
  background: #999999;
}
.direction-form #direction-form .btn.btn-grey:hover {
  background: #666666;
}
.directory-info-wrap .directory-info {
  background: rgba(238, 238, 238, 0.6);
  padding: 20px;
}
.directory-info-wrap .directory-info > div {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.directory-info-wrap .directory-info > div.email-info {
  padding-bottom: 0;
  margin-bottom: 0;
}
.directory-info-wrap .directory-info .sub-sec-heading {
  font-size: 15px;
  font-weight: 500;
  color: rgba(97, 97, 97, 0.5);
  margin-bottom: 5px;
}
.directory-info-wrap .directory-info .sec-content {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #616161;
}
.directory-info-wrap .directory-info .sec-content a {
  font-size: 14px;
  font-weight: normal;
  color: #428bca;
}
.directory-info-wrap .location-map iframe {
  width: 100%;
  height: 400px;
}
.directory-info-wrap .location-map .location-cords {
  font-size: 12px;
  font-weight: normal;
  color: #616161;
  margin-top: 10px;
  letter-spacing: 1px;
}
.page-action {
  color: #a6a6a6;
}
.page-action > a {
  color: #a6a6a6;
}
.page-action .social-share {
  text-align: left;
  margin-top: 10px;
}
.user-ads .sec-heading {
  font-size: 20px;
  font-weight: 600;
  color: #616161;
}
.user-ads .btn {
  font-size: 20px;
  font-weight: bold;
  border-radius: 0;
  min-width: 115px;
}
/*=====  End of Business Directory Details Page  ======*/
/*=======================================
=            Issue Info Page            =
=======================================*/
.issue-banner-details {
  background: #eeeeee;
  padding: 20px 25px 20px 25px;
  text-align: center;
}
.issue-banner-details h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #616161;
}
.issue-banner-details .btn {
  font-size: 16px;
  font-weight: 600;
  min-width: 130px;
  border-radius: 0;
}
.issue-info-content h2 {
  font-size: 30px;
  font-weight: 500;
  color: #616161;
}
.issue-info-content p {
  font-size: 15px;
  font-weight: normal;
}
.issue-info-content .issue-info-listing {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}
.issue-info-content .issue-info-listing li {
  padding: 10px 5px;
  border-bottom: 1px dotted #cccccc;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
}
.issue-info-content .issue-info-listing li i::before {
  margin-right: 15px;
  margin-left: 0;
  vertical-align: middle;
  font-size: 15px;
}
.issue-info-content .issue-info-listing li:last-child {
  border-bottom: 0;
}
/*=====  End of Issue Info Page  ======*/
/*==================================
=            About Page            =
==================================*/
.about-wrapper .page-head {
  font-size: 30px;
  font-weight: 500;
  color: #616161;
  text-transform: uppercase;
}
.about-wrapper .sec-heading {
  font-size: 20px;
  font-weight: bold;
  color: #e2141c;
  text-transform: uppercase;
}
.about-wrapper .desc p {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 20px;
}
.about-wrapper .our-leaders .leaders {
  margin: 30px 0;
}
.about-wrapper .our-leaders .leaders .media img {
  border: 8px solid #eeeeee;
}
.about-wrapper .our-leaders .leaders .media h5 {
  font-size: 16px;
  font-weight: bold;
}
.about-wrapper .our-leaders .leaders .media p {
  font-size: 14px;
  font-weight: normal;
  color: rgba(97, 97, 97, 0.65);
  min-height: 50px;
}
.about-wrapper .our-leaders .leaders .media a {
  font-size: 14px;
  font-weight: normal;
  color: #e2141c;
  word-break: break-all;
}
.about-wrapper .our-leaders .row {
  border-bottom: 1px solid #cccccc;
}
.about-wrapper .our-leaders .row:last-child {
  border-bottom: 0;
}
.about-wrapper .our-leaders .row:last-child .leaders {
  margin-bottom: 0;
}
.about-wrapper .our-leaders .row .leaders:nth-child(2) {
  border-left: 1px solid #cccccc;
}
.team-wrapper {
  background: #616161;
  padding: 50px 0;
}
.team-wrapper .team-banner {
  text-align: center;
}
.team-wrapper .list-head {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 10px;
}
.team-wrapper ul {
  list-style: none;
  padding: 0;
}
.team-wrapper ul li {
  font-size: 13px;
  font-weight: normal;
  color: #cccccc;
  padding: 5px 0;
}
.gallery-wrapper {
  background: #f0f0f0;
}
.gallery-wrapper h2 {
  font-size: 30px;
  font-weight: 500;
  color: #616161;
  text-align: center;
}
.gallery-wrapper .gallery-grid img {
  border: 8px solid rgba(204, 204, 204, 0.6);
  margin-bottom: 30px;
  max-width: 100%;
}
/*=====  End of About Page  ======*/
/*===================================
=            Logout Page            =
===================================*/
#logout-page .main-nav {
  z-index: 1;
}
.logout-wrapper {
  background: url("../images/banner.jpg");
  background-size: cover;
  padding-top: 50px;
  margin-top: -42px;
  position: relative;
}
.logout-wrapper:before {
  content: "";
  right: 0;
  left: 0;
  background-size: cover;
  top: 80%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #395173;
}
.logout-wrapper .banner-caption {
  padding-top: 80px;
}
.logout-wrapper .banner-caption h1 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}
.logout-wrapper .banner-caption p {
  color: #fff;
  font-size: 18px;
}
.logout-wrapper .banner-caption h6 {
  color: #fff;
  font-size: 18px;
}
.logout-wrapper .banner-caption .btn {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: 15px 30px;
  border: none;
  border-radius: 0;
}
.logout-wrapper .banner-caption .btn:hover {
  color: #ffffff;
}
.logout-wrapper img {
  padding: 10px 0 50px;
}
/*=====  End of Logout Page  ======*/
/*================================================
=            Trems And Condition Page            =
================================================*/
.terms-wrapper {
  margin-bottom: 85px;
}
.terms-wrapper .page-heading {
  color: #5d5d5d;
  font-size: 30px;
  padding: 30px 0 20px;
  text-align: center;
}
.accordion-group .heading {
  color: #5d5d5d;
  background: #e9e902;
  font-size: 22px;
  border-left: 6px solid #e2141c;
  padding: 15px 35px 15px 15px;
  font-weight: 600;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.accordion-group .heading i {
  float: right;
}
.accordion-group .heading i.flaticon-down-arrow {
  display: none;
}
.accordion-group .heading.collapsed {
  background: #eaeaea;
  font-weight: 300;
  border-left: 6px solid #a6a6a6;
}
.accordion-group .heading.collapsed i {
  float: right;
}
.accordion-group .heading.collapsed i.flaticon-up-arrow {
  display: none;
}
.accordion-group .heading.collapsed i.flaticon-down-arrow {
  display: block;
}
.accordion-group .accordion-desc p {
  color: #737272;
  font-size: 15px;
  padding: 10px 20px;
}
/*=====  End of Trems And Condition Page  ======*/
/*====================================
=            Contact Form            =
====================================*/
#contact-page .main-nav {
  z-index: 9;
}
.contact-wrapper {
  margin-top: -42px;
}
.contact-info {
  background: rgba(66, 139, 202, 0.7);
  position: relative;
}
.contact-info .address-wrapper {
  margin-top: 75px;
}
.contact-info .address-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  left: 15px;
  background: #ffffff;
}
.contact-info .office-address {
  padding: 40px 30px;
  background: #ffffff;
}
.contact-info .office-address h2 {
  font-size: 26px;
  color: #e2141c;
  font-weight: 600;
  position: relative;
}
.contact-info .office-address h3 {
  color: #a6a6a6;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
}
.contact-info .office-address p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.contact-info .office-address a {
  color: #333333;
  font-size: 16px;
}
.contact-info .office-address a:hover {
  color: #e2141c;
}
.text-ads {
  background: #ff0;
  padding: 20px 30px;
  position: relative;
}
.text-ads p {
  position: relative;
  font-size: 14px;
  padding: 0 35px;
  margin: 0;
  font-weight: 500;
  color: rgba(97, 97, 97, 0.5);
}
.text-ads p strong {
  color: #333333;
}
.text-ads p svg {
  color: #333333;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.get-in-touch {
  margin-top: 60px;
  margin-bottom: 25px;
}
.contact-form {
  margin: 0 auto 50px;
  width: 80%;
}
.contact-form #form-contact h2 {
  text-align: center;
  font-size: 26px;
  color: #414141;
  margin-bottom: 30px;
}
.contact-form #form-contact .form-group {
  margin-bottom: 0;
}
.contact-form #form-contact .form-control {
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
  border-width: 1px;
}
.contact-form #form-contact textarea {
  min-height: 165px;
}
.contact-form #form-contact .btn {
  border-radius: 0px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 25px;
}
.map iframe {
  width: 100%;
  height: 420px;
}
#subscribe-div form{
    display: flex;
    align-items: stretch;
}
#subscribe-div form > div{
    width: 20%;
    padding: 0;
    flex: auto;
}
#subscribe-div form > div:nth-of-type(1){
    width: 76%;
}
#subscribe-div form > div button{
    background: #e2141c;
    border-color: #e2141c;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#subscribe-div form > div button:hover{
    background: #ff0;
    color: #e2141c;
}
#subscribe-div form > div input{
    background: #eee;
    font-size: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}

#result_cat_id{
  display: none;
  padding: 0 5% 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #eeeeee;
}

#result_cat_id .select2-container{
  width: 100% !important;
  display: block;
}

/*=====  End of Contact Form  ======*/
/*# sourceMappingURL=app.css.map */